html {
    scroll-behavior: smooth; /* Esta línea hace que el desplazamiento sea suave */
   margin: 0; padding: 0;

}

body {
   margin: 0; padding: 0;
}

h1, h2, h3{
    font-family: "Roboto Condensed", sans-serif;    
    font-weight: bold;    
    margin: 0;
    padding: 0;
}

p, li, h4{
    font-family: "DM Sans", sans-serif;    
    margin: 0;
    padding: 0;
}

h2{
    font-size: 40px;  
}

h3{
    font-size: 22px;   
}

.destacado {
    color: red;
}

.negrita {
    font-weight: bold;
}

header {
    background-color: #161616;
    padding: 10px 30px; /*Espadio arriba, abajo y a los costados (interno)*/
    margin: 0;
}

.logo {
    max-width: 160px;
}

.portada {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.897)), url('imagen/Joystick.png');  
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

.encabezado{
    text-align: center; /* Centra el texto */
    justify-content: center; /* Centra verticalmente el contenido */
    margin: 181px 140px;
}

.titulos-encabezado h1{
    color: #F1F1F1;
    font-size: 60px;
}

.titulos-encabezado p{
    color: #C9CACC;
    margin: 15px 187px 30px;
    font-size: 20px;
}
  
.boton-rojo{
    display: inline-block;
    padding: 12px 35px;
    background-color: red; 
    font-weight: bold;
    color: #F1F1F1;
    text-decoration: none; /* Eliminar subrayado del enlace */
    border: none; 
    border-radius: 60px; /* Bordes redondeados */
    font-size: 23px;     
    font-family: "Roboto Condensed", sans-serif;
}

.boton-rojo:hover {
    background-color: #cc0000;
}

.Beneficios{
    background-color: white;
    color: #161616;   
    display: flex;  
    padding: 60px 133px;
}

.info{
    margin-right: 20px;
}

.info ul{
    font-size: 20;
    margin-top: 33px;
}

.info li{
    list-style-image: url("imagen/check 3.0.png");
    margin-top: 20px;
}

.info-complementaria {
    width: 100%;
    height: auto;
}

.Bullets{
    background-color: #161616;
    padding: 60px 133px;
    color: white;
} 

.Contenedor-Tarjetas {
    color: #F1F1F1;
    display: flex;
    position: relative;
    margin-top: 85px;
}

.Tarjeta {
    text-align: center;
    margin: 30px ;
    padding: 20px;
    flex: 1;
    position: relative;
    box-sizing: border-box;
}

.Tarjeta h4{
    font-size: 20;
    font-weight: bold;
    margin-bottom: 16px;
}

.Tarjeta img {
    width: auto;
    height: 30px;
    padding-bottom: 16px;
}

.Tarjeta p {
    font-size: 17px;
}

/* Estilo para las líneas verticales */
.Tarjeta:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20; /* Línea en el borde derecho de la tarjeta */
    width: 0.3px; /* Grosor de la línea */
    height: 100%;    
    background-color: rgba(255, 255, 255, 0.301); /* Color de la línea */
}

.Comunidad{
    padding: 60px 133px;
    background-color: white;
    color: #161616;
}

.contenedor-comentarios {
    columns: 2;
    column-gap: 107px; /* Espacio entre columnas */
    margin-top: 83px;

}

.comentario {
    display: flex;
    width: 450px;
    height: auto;
    margin-bottom: 40px;
    position: relative; /* Añadir position: relative */
}

.foto-coment img {
    width: 80px;
    height: auto;
    margin-right: 16px;
}

.name-tittle {
    display: flex;
    margin-bottom: 10px;
}

.img-puntaje {
    width: 30px;
    margin-left: 10px;
}

.coment-text {
    margin-bottom: 10px;
}

.coment-text p{
    font-size: 17px;
}

.fecha-hora {
    display: flex;
}

.fecha-hora p {
    margin-top: 0;
    margin-bottom: 0;
    color: #11111181;
    font-size: 11px;
    font-family: "Roboto Condensed", sans-serif;
}

.fecha-hora img {
    width: 12px;
    height: 12px;
    margin-right: 6px;
    margin-left: 0;
}

.comentario::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px; /* Ajusta esta propiedad para espaciar la línea */
    width: 100%;
    height: 1px; /* Grosor de la línea */
    background-color: rgba(0, 0, 0, 0.178); /* Color de la línea */
}

.Formulario{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.897)), url('imagen/Joystick.png');  
    background-size: cover;
    background-position: center;
    color: #F1F1F1;
    height: auto;
} 

.form-conten{
    text-align: center;
    padding: 60px 150px;
}

.titulo-form{
    font-size: 40px;
}

.form-group{
    margin: 22px 0;

}

#email {
    width: 70%;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 20px;
    background-color: #F1F1F1;
    font-family: "DM Sans", sans-serif;
}

input[type="email"] {
    padding: 10px;
    margin-right: 10px; /* Espacio entre el input y el botón */
}

footer {
    background-color: #161616;
    color: #F1F1F1;
    text-align: center; /* Centra el texto */
    padding: 40px 0 10px; /* Ajusta el padding */
}

.medios {
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.medios h3 {
    font-size: 30px;
}

.icons {
    display: flex;
}

.icon-media {
    width: 40px;
    margin-left: 45px;
    height: auto; /* Mantener la proporción */
}

@media screen and (max-width: 500px) {
    h2{
        font-size: 25px;  
        text-align: center;
    }
    
    h3{
        font-size: 20px;   
    }

    header {
        padding: 16px 15px; /*Espadio arriba, abajo y a los costados (interno)*/
        height: 5%;
    }
    
    .logo {
        max-width: 102px;
    }
    
    .portada {
        background-image: linear-gradient(rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0)), url('imagen/Joystick.png');  
        height: 55vh;
        width: 100%;
        margin-top: 0;
    }
    
    .encabezado{
        text-align: left; /* Centra el texto */
        margin: 50px 16px;
    }
    
    .titulos-encabezado h1{
        font-size: 30px;
    }
    
    .titulos-encabezado p{
        color: #C9CACC;
        margin: 20px 0 30px;
        font-size: 15px;
    }
      
    .boton-rojo{
        padding: 10px 120px;
        font-size: 20px;     
    }    
    
    .Beneficios{
        display: block;
        padding: 30px 16px;
    }
    
    .info{
        margin-right: 0;
    }
    
    .info ul{
        font-size: 15px;
        margin-top: 20px;
    }     
    
    .Bullets{
        padding: 30px 16px;
    } 
    
    .Contenedor-Tarjetas {
        display: block;
        position: relative;
        margin-top: 20px;
    }
    
    .Tarjeta {
        margin: 0;
        padding: 40px;
        flex: 1;
        position: relative;
        box-sizing: border-box;
    }
    
    .Tarjeta h4{
        font-size: 20;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .Tarjeta img {
        width: auto;
        height: 35px;
        padding-bottom: 15px;
    }
    
    .Tarjeta p {
        font-size: 17px;
    }
    
    /* Estilo para las líneas verticales */
    .Tarjeta:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 250;
        right: 20; /* Línea en el borde derecho de la tarjeta */
        width: 90%; /* Grosor de la línea */
        height: 0.3px;    
        background-color: rgba(255, 255, 255, 0.301); /* Color de la línea */
    }
    
    .Comunidad{
        padding: 30px 16px;

    }
    
    .contenedor-comentarios {
        columns: 1;
        column-gap: 0; /* Espacio entre columnas */
        margin-top: 20px;
    
    }
    
    .comentario {
        display: flex;
        width: 325px;
        height: auto;
        margin-bottom: 30px;
        position: relative; /* Añadir position: relative */
    }
    
    .foto-coment img {
        width: 60px;
        height: auto;
        margin-right: 10px;
    }
    
    .name-tittle {
        display: flex;
        margin-bottom: 7px;
    }
    
    .img-puntaje {
        width: 20px;
        height: 20px;
        margin-left: 7px;
    }
    
    .coment-text {
        margin-bottom: 7px;
    }
    
    .coment-text p{
        font-size: 15px;
    }
    
    .fecha-hora p {
        font-size: 8px;
    }
    
    .fecha-hora img {
        width: 8px;
        height: 8px;
        margin-right: 6px;
        margin-left: 0;
    }
    
    .comentario::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px; /* Ajusta esta propiedad para espaciar la línea */
        width: 100%;
        height: 1px; /* Grosor de la línea */
        background-color: rgba(0, 0, 0, 0.178); /* Color de la línea */
    }

    .Formulario{
        background-image: linear-gradient(rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0)), url('imagen/Joystick.png');  
    }
    
    .form-conten{
        text-align: center;
        padding: 30px 16px;
    }

    .titulo-form{
        font-size: 35px;
    }
    
    .form-group{
        margin: 20px 0;    
    }
    
    #email {
        width: 100%;
        padding-left: 30px;
        font-size: 15px;
    }
    
    input[type="email"] {
        padding: 10px;
        margin-right: 10px; /* Espacio entre el input y el botón */
    }
    
    footer {
        text-align: center; /* Centra el texto */
        padding: 20px 53px 10px; /* Ajusta el padding */
    }
    
    .medios {
        margin-bottom: 30px;
        display: block;
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Centra verticalmente el contenido */
    }
    
    .medios h3 {
        font-size: 20px;
    }

    .icons {
        margin-top: 20px;
    }

    .icon-media {
        width: 30px;
        margin-left: 0;
        margin: 0 20px;
    }

    footer p{
        font-size: 10px;
    }
}
