html {
    font-family: "DM Sans", sans-serif;
}

body {
   margin: 0; padding: 0;
   background-color: black;
}

h1, h2, h3{
    font-family: "Roboto Condensed", sans-serif;    
    font-weight: bold;    
    margin: 0;
    padding: 0;
}

p{
    font-family: "DM Sans", sans-serif;    
    margin: 0;
    padding: 0;
}

.destacado {
    color: red;
    font-size: 15px;
}

header {
    background-color: #161616;
    padding: 10px 30px; /*Espadio arriba, abajo y a los costados (interno)*/
    margin: 0;
}

.logo {
    max-width: 160px;
}

form{
    display: flex;
    padding: 0 0;
}

.izquierdo, .derecho{
    flex: 1;
    margin: 0;
}

.izquierdo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.897), rgba(255, 255, 255, 0)), url('imagen/fondo-form.png');  
    background-size: cover;
    background-position: left;
    height: 100vh;
    width: 100%;
    color: white;
    padding-top: 100px;
}

.izquierdo .contenedor-principal{
    text-align: left;
    margin: 0 120px;
}

.izquierdo .contenedor-principal h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.izquierdo .contenedor-principal p{
    font-size: 20px;
    margin-bottom: 40px;
}

.derecho{
    background-color: white;
    background-position: right;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.derecho .contenedor-principal{
    padding: 36px 30px;
}

.boton-cancelar {
    margin-left: 620px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.boton-cancelar img {
    width: 40%;
    height: 40%;
}

.contenedor-camposdelform{    
    margin-top: 35px;
}

.nombre-correo{
    display: flex;
}

#nombre {
    width: 230px;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-right: 30px;
    margin-bottom: 30px;
}

#email {
    width: 340px;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
}

#videojuego {
    width: 100%;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
    outline: none;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.151); /* Sombra interna más pronunciada al enfocar */
}

#plataforma {
    width: 100%;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
    outline: none;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.151); /* Sombra interna más pronunciada al enfocar */
}

select {
    appearance: none; /* Oculta la flecha predeterminada en la mayoría de los navegadores */
    background-image: url('/imagen/flechita.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 4%;
}

/*FALTA ARREGLAR EL DESPLEGABLE*/
.form-campo label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.form-campo input, .form-campo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.enter{
    display: inline-block;
    padding: 12px 35px;
    font-weight: bold;
    color: white; 
    text-decoration: none; /* Eliminar subrayado del enlace */
    border: none; 
    border-radius: 60px; /* Bordes redondeados */
    font-size: 23px;     
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 20px;
    margin-bottom: 25px;
}

.enter.disabled{
    background-color: grey;
    cursor: not-allowed;
}

.enter.active{
    background-color: red;
    cursor: pointer;
}

.enter.active:hover {
    background-color: #cc0000;
}

.cont-botonyderechos p{
    font-size: 12px;
    color: #515151;
    position: relative; /* Para poder posicionar el pseudo-elemento */
}

.cont-botonyderechos p::after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px; /* Ajusta esta propiedad para espaciar la línea */
    width: 100%;
    height: 1.5px; /* Grosor de la línea */
    background-color: rgba(0, 0, 0, 0.178); /* Color de la línea */
}

.cont-botonyderechos .destacado{
    font-size: 12px;
}


/*DISEÑO DE PANTALLA DEL FEEDBACK*/

.fondo-fb{
    background-image: url('imagen/fondo-form.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.feedback{
    text-align: center;
    color: #161616;
}

.contenido {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    width: 80%; 
    height: 90vh; 
}

.dardo{
    width: 30%;
    display: flex;
    margin-left: 35%;
}
.text-feelback{
    margin: 15px 105px ;
}

.contenido h1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 35px;
}

.contenido p{
    margin-top: 15px;
    font-size: 20px;
}

.volver{
    display: inline-block;
    padding: 12px 35px;
    background-color: white; 
    font-weight: bold;
    color: red; 
    text-decoration:none;
    border: 1px solid red;
    cursor: pointer;    
    border-radius: 60px; /* Bordes redondeados */
    font-size: 23px;     
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 30px;
}

.volver:hover{
    color:#cc0000;; 
    border: 1px solid #cc0000;;
}

.oculto{
    display: none;
}

footer {
    background-color: #161616;
    color: #F1F1F1;
    text-align: center; /* Centra el texto */
    padding: 40px 0 10px; /* Ajusta el padding */
}

.medios {
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.medios h3 {
    font-size: 30px;
}

.icons {
    display: flex;
}

.icon-media {
    width: 40px;
    margin-left: 45px;
    height: auto; /* Mantener la proporción */
}

@media screen and (max-width: 500px){

    .destacado {
        font-size: 15px;
    }
    
    header {
        padding: 16px 15px; /*Espadio arriba, abajo y a los costados (interno)*/
        height: 3%;
    }
    
    .logo {
        max-width: 102px;
    }
    
    form{
        display: block;
        margin: 0;
    }
    
    .izquierdo, .derecho{
        flex: 1;
        margin: 0;
    }

    .izquierdo {
        background-size: 120%; /* Ajusta el tamaño para acercar/alejar la imagen */
        background-position: center 40%; /* Ajusta la posición según la parte deseada */
        height: 30vh;
        width: 100%;
        padding: 0;
    }   
    .izquierdo .contenedor-principal{
        text-align: left;
        margin: 30px 16px;
    }
    
    .izquierdo .contenedor-principal h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .izquierdo .contenedor-principal p{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .derecho{
        background-color: white;
        background-position: bottom;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
        margin-top: 0;
    }
    
    .derecho .contenedor-principal{
        padding: 15px 16px;
    }
    
    .boton-cancelar {
        margin-left: 325px;
    }
    
    .boton-cancelar img {
        width: 100%;
        height: 100%;
    }
    
    .contenedor-camposdelform{    
        margin-top: 0;
    }
    
    label{
        font-size: 18px;
    }
    
    .nombre-correo{
        display: block;
    }
    
    #nombre {
        width: 90%;
        padding: 15px 15px;
        font-size: 15px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    
    #email {
        width: 90%;
        padding: 15px 15px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    #videojuego {
        width: 100%;
        padding: 15px 15px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    #plataforma {
        width: 100%;
        padding: 15px 15px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    select {
        background-size: 7%;
    }
    /*FALTA ARREGLAR EL DESPLEGABLE*/
    .form-campo label {
        font-size: 18px;
    }
    
    .enter {
        margin: 0 41.5px 40px;
        padding: 12px 65px;
        font-size: 23px;
        text-align: center; /* Asegura que el texto dentro del elemento esté centrado */
    } 
    
    .cont-botonyderechos p{
        text-align: center;
        font-size: 12px;
    }

    .cont-botonyderechos .destacado{
        font-size: 12px;
    }
    
    
    /*DISEÑO DE PANTALLA DEL FEEDBACK*/
      
    .contenido {
        width: 80%; 
        height: auto; 
    }
    
    .dardo{
        width: 80%;
        display: flex;
        margin-left: 40px;
    }

    .text-feelback{
        margin: 20px 12px ;
    }
    
    .contenido h1{
        font-size: 25px;
    }
    
    .contenido p{
        margin-top: 15px;
        font-size: 15px;
    }

    .volver{
        padding: 12px 86px;
        font-size: 16px; 
        margin-bottom: 40px;
    }
    
     footer {
        text-align: center; /* Centra el texto */
        padding: 20px 53px 10px; /* Ajusta el padding */
    }
    
    .medios {
        margin-bottom: 30px;
        display: block;
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Centra verticalmente el contenido */
    }
    
    .medios h3 {
        font-size: 20px;
    }

    .icons {
        margin-top: 20px;
    }

    .icon-media {
        width: 30px;
        margin-left: 0;
        margin: 0 20px;
    }

    footer p{
        font-size: 10px;
    }

}
