html {
    font-family: "DM Sans", sans-serif;
}

body {
   margin: 0; padding: 0;
   background-color: black;
}

h1{
    font-size: 60px;
    margin-bottom: 15px;    
}

h2{
    font-family: "Roboto Condensed", sans-serif;    
    font-size: 40px;  
    font-weight: bold;
}

h3{
    font-size: 22px;
    margin-top: 0;   
    margin-bottom: 0;    
}

.destacado {
    color: red;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}

.negrita {
    font-weight: bold;
}

header {
    background-color: #161616;
    padding: 10px 30px; /*Espadio arriba, abajo y a los costados (interno)*/
    margin: 0;
}

.logo {
    max-width: 160px;
}

form{
    display: flex;
    padding: 0 0;
}

.izquierdo, .derecho{
    flex: 1;
    margin: 0;
}

.izquierdo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.897), rgba(255, 255, 255, 0)), url('imagen/fondo-form.png');  
    background-size: cover;
    background-position: left;
    height: 100vh;
    width: 100%;
    color: white;
    padding-top: 100px;
}

.izquierdo .contenedor-principal{
    text-align: left;
    margin: 0 120px;
}

.izquierdo .contenedor-principal p{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

.izquierdo .contenedor-principal .destacado{
    margin-top: 40px;
}

.derecho{
    background-color: white;
    background-position: right;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

form{
    display: flex;
    padding: 0 0;
}

.obligatorio{
    color: red;
    font-size: 14px;
}

.derecho .contenedor-principal{
    margin: 36px 30px;
}

.boton-cancelar {
    margin-left: 610px;
    padding: 0;
    background-color: white;
    border: none;
    cursor: pointer;
    color: white;
}

.boton-cancelar img {
    width: 26px;
    height: 26px;
}

.contenedor-camposdelform{    
    margin-top: 35px;
}

.nombre-correo{
    display: flex;
}

#nombre {
    width: 230px;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-right: 30px;
    margin-bottom: 30px;
}

#email {
    width: 290px;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
}

#videojuego {
    width: 100%;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
    outline: none;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.151); /* Sombra interna más pronunciada al enfocar */
}

#plataforma {
    width: 100%;
    padding: 13px 20px;
    border: 0.3px solid #00000048;
    border-radius: 50px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
    outline: none;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.151); /* Sombra interna más pronunciada al enfocar */
}

select {
    appearance: none; /* Oculta la flecha predeterminada en la mayoría de los navegadores */
    background-image: url('/imagen/flechita.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 26px;
}
/*FALTA ARREGLAR EL DESPLEGABLE*/
.form-campo label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.form-campo input, .form-campo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.enter{
    display: inline-block;
    padding: 12px 35px;
    font-weight: bold;
    color: white; 
    text-decoration: none; /* Eliminar subrayado del enlace */
    border: none; 
    border-radius: 60px; /* Bordes redondeados */
    font-size: 23px;     
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 20px;
    margin-bottom: 25px;
}

.enter.disabled{
    background-color: grey;
    cursor: not-allowed;
}

.enter.active{
    background-color: red;
    cursor: pointer;
}

.enter.active:hover {
    background-color: #cc0000;
}

.cont-botonyderechos p{
    font-size: 12px;
    color: #515151;
    position: relative; /* Para poder posicionar el pseudo-elemento */
}

.cont-botonyderechos p::after {
    content: '';
    position: absolute;
    left: 0;
    top: -25px; /* Ajusta esta propiedad para espaciar la línea */
    width: 100%;
    height: 1.5px; /* Grosor de la línea */
    background-color: rgba(0, 0, 0, 0.178); /* Color de la línea */
}

.cont-botonyderechos .destacado{
    font-size: 12px;
    
}



/*DISEÑO DE PANTALLA DEL FEEDBACK*/

.fondo-fb{
    background-image: url('imagen/fondo-form.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.feedback{
    text-align: center;
    color: #161616;
}

.contenido {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    width: 80%; 
    height: 90vh; 
}

.dardo{
    width: 30%;
    display: flex;
    margin-left: 35%;
}

.contenido h1{
    margin-top: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 35px;
}

.contenido p{
    padding: 0 105px;
    margin-top: 15px;
    font-size: 20px;
}

.volver{
    display: inline-block;
    padding: 12px 35px;
    background-color: white; 
    font-weight: bold;
    color: red; 
    text-decoration:none;
    border: 1px solid red;
    font-size: 16px; 
    cursor: pointer;    
    border-radius: 60px; /* Bordes redondeados */
    font-size: 23px;     
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 30px;
}

.volver:hover{
    color:#cc0000;; 
    border: 1px solid #cc0000;;
}

.oculto{
    display: none;
}

footer {
    background-color: #161616;
    color: white; 
    text-align: center; 
    padding: 30px 0;
    justify-content: center; 
    padding-bottom: 5px;
}
   
.icon-media{
    width: 30px;
    padding: 0 10px;
}

footer {
    background-color: #161616;
    color: white;
    text-align: center; /* Centra el texto */
    padding: 40px 0 5px; /* Ajusta el padding */
}

.medios {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.medios p {
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}

.icons {
    display: flex;
    gap: 45px; /* Espacio entre iconos */
    padding-left: 30px;
}

.icon-media {
    width: 40px;
    height: auto; /* Mantener la proporción */
}